@keyframes animation1 {
    0% {
        transform: translateX(-400px);
    }
    100% {
        transform: translateX(2000px);
    }

}

div
{
    width: 200px;
    height: 200px;
    background-color: rgb(22, 62, 131);
    animation: animation1 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
th {
  background-color: #2f2f2f;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	color: #FFF;
}
.ligne{
  font-family: Verdana, Geneva, sans-serif;
}
.fille-clair {
	background-color: #FCF;
}
.fille-fonce {
	background-color: #96F;
}
.garcon-clair {
	background-color: #6F9;
}
.garcon-fonce {
	background-color: #090;
}
